[submodule ".registry"]
	path = .registry
	url = https://github.com/lianos/universe
	branch = HEAD
[submodule "sparrow"]
	path = sparrow
	url = https://github.com/lianos/sparrow
[submodule "sparrow.shiny"]
	path = sparrow.shiny
	url = https://github.com/lianos/sparrow.shiny
