[submodule ".registry"]
	path = .registry
	url = https://github.com/lianos/universe
	shallow = true
	branch = HEAD
[submodule "sparrow"]
	path = sparrow
	url = https://github.com/lianos/sparrow
	shallow = true
	registered = true
